Stage2.json
{
  "id": "K3SDxIJe0XzGDa3C",
  "name": "Viral Pipeline – Stage 2 – Script Generation 2026",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "stage2-trigger",
      "name": "Every Day 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblexeHTYqlzH5JuR",
          "mode": "id"
        },
        "filterByFormula": "{Status} = 'Generate Script'",
        "options": {}
      },
      "id": "read-pending",
      "name": "Find Posts to Script",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        464,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Context and Author Profile: Ujjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\nTask: Rewrite the following news content as an original thought leadership post for Ujjwal's social media channels primarily LinkedIn.\nTone and Voice Guidelines:\n* Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n* Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape.\n* Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer.\n* Confident and opinionated, but grounded with reasoning or real-world parallels.\n* Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n* Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n* The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\nStructure and Length STRICT:\n* Maximum two short paragraphs. No exceptions. Each paragraph should be 2 to 4 sentences.\n* Total word count 50 to 100 words. Hard ceiling.\n* The opening sentence must be a strong, creative hook. Not generic, not clickbait. It should be a sharp, original observation or a surprising reframe that makes people stop scrolling.\n* Close with a perspective, prediction, or question that invites engagement.\n* Distill the news down to the single most important insight and build the entire post around that one idea. Cut everything else ruthlessly.\n* No bullet points. No numbered lists. No headers.\nFormatting Rules:\n* Never use em dash.\n* Do not use slash.\n* Do not use colon.\n* Do not use semicolon.\n* Do not use ellipsis.\n* Do not use quotation marks.\n* Do not use emojis.\n* Do not use hashtags.\n* No decorative symbols of any kind.\n* Only commas and periods allowed as punctuation.\n* Plain text only with clean paragraph breaks.\nWhat to Avoid:\n* Do not summarize the full news story. Extract only the sharpest takeaway.\n* Do not use buzzwords without substance such as revolutionary or game changing.\n* Do not write in third person. Write as Ujjwal in first person.\n* Do not pad with filler sentences or repeat the same idea in different words.\n* Do not use phrases commonly associated with AI generated content such as Lets dive in, Heres the thing, In todays rapidly evolving landscape, Its not just about X its about Y.\n* Do not open with a question as the hook. Lead with a strong statement.\n\nNews Input:\nTitle: {{ $json.Name }}\nContent: {{ $json.Content }}\n\nReturn ONLY valid JSON with no emojis anywhere in the output:\n{\n  \"platform\": \"LinkedIn\",\n  \"title\": \"...\",\n  \"hook\": \"...\",\n  \"body\": \"...\",\n  \"cta\": \"...\"\n}",
        "batching": {}
      },
      "id": "gemini-linkedin",
      "name": "Gemini – LinkedIn Script",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        640,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Context and Author Profile: Ujjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\nTask: Rewrite the following news content as an original thought leadership post for Ujjwal's social media channels primarily Facebook.\nTone and Voice Guidelines:\n* Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n* Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape.\n* Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer.\n* Confident and opinionated, but grounded with reasoning or real-world parallels.\n* Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n* Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n* The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\nStructure and Length STRICT:\n* Maximum two short paragraphs. No exceptions. Each paragraph should be 2 to 4 sentences.\n* Total word count 50 to 100 words. Hard ceiling.\n* The opening sentence must be a strong, creative hook. Not generic, not clickbait. It should be a sharp, original observation or a surprising reframe that makes people stop scrolling.\n* Close with a perspective, prediction, or question that invites engagement.\n* Distill the news down to the single most important insight and build the entire post around that one idea. Cut everything else ruthlessly.\n* No bullet points. No numbered lists. No headers.\nFormatting Rules:\n* Never use em dash.\n* Do not use slash.\n* Do not use colon.\n* Do not use semicolon.\n* Do not use ellipsis.\n* Do not use quotation marks.\n* Do not use emojis.\n* Do not use hashtags.\n* No decorative symbols of any kind.\n* Only commas and periods allowed as punctuation.\n* Plain text only with clean paragraph breaks.\nWhat to Avoid:\n* Do not summarize the full news story. Extract only the sharpest takeaway.\n* Do not use buzzwords without substance such as revolutionary or game changing.\n* Do not write in third person. Write as Ujjwal in first person.\n* Do not pad with filler sentences or repeat the same idea in different words.\n* Do not use phrases commonly associated with AI generated content such as Lets dive in, Heres the thing, In todays rapidly evolving landscape, Its not just about X its about Y.\n* Do not open with a question as the hook. Lead with a strong statement.\n\nNews Input:\nTitle: {{ $json.Name }}\nContent: {{ $json.Content }}\n\nReturn ONLY valid JSON with no emojis anywhere in the output:\n{\n  \"platform\": \"Facebook\",\n  \"title\": \"...\",\n  \"hook\": \"...\",\n  \"body\": \"...\",\n  \"cta\": \"...\"\n}",
        "batching": {}
      },
      "id": "gemini-facebook",
      "name": "Gemini – Facebook Script",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        608,
        624
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-gemini",
      "name": "Merge Both Scripts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        976,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        496
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gZWxtPDhc4VC9XNF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst rawInputs = $input.all();\nconst sourceItems = $(\"Find Posts to Script\").all();\nconst sourceCount = sourceItems.length;\n\nif (sourceCount === 0) return [];\n\nfor (let i = 0; i < rawInputs.length; i++) {\n  const item = rawInputs[i];\n  // FIX: read from output first — that is where chainLlm stores the actual Gemini response\n  let raw = item.json.output || item.json.text || '{}';\n  let parsed = {};\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const match = raw.match(/\\{[^]*\\}/);\n    if (match) { try { parsed = JSON.parse(match[0]); } catch {} }\n  }\n\n  // Identify source record\n  const sourceIndex = i % sourceCount;\n  const sourceRecord = sourceItems[sourceIndex]?.json || {};\n\n  // FORCE CORRECT PLATFORM: Items 0 to sourceCount-1 are LinkedIn, the rest are Facebook\n  const platform = (i < sourceCount) ? 'LinkedIn' : 'Facebook';\n\n  const title = parsed.title || parsed.Name || sourceRecord.Name || 'Untitled Script';\n  \n  // CHECK FOR DIRTY PLACEHOLDERS in the actual Gemini response\n  const hasPlaceholders = raw.includes('{{') || raw.includes('$json');\n  \n  // FIX: skip bad scripts entirely — never save them to Airtable\n  if (hasPlaceholders) continue;\n\n  results.push({\n    json: {\n      Name: title,\n      Source_Content_ID: [sourceRecord.id],\n      Script_Title: title,\n      Target_Platforms: platform,\n      Hook: parsed.hook || '',\n      Main_Content: parsed.body || '',\n      CTA: parsed.cta || '',\n      Status: 'Draft',\n      Created_Date: new Date().toISOString().slice(0, 10)\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-scripts",
      "name": "Parse & Prepare Scripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Source_Content_ID": "={{ $json.Source_Content_ID }}",
            "Script_Title": "={{ $json.Script_Title }}",
            "Target_Platforms ": "={{ $json.Target_Platforms }}",
            "Hook": "={{ $json.Hook }}",
            "Main_Content": "={{ $json.Main_Content }}",
            "CTA ": "={{ $json.CTA }}",
            "Status": "={{ $json.Status }}",
            "Created_Date": "={{ $json.Created_Date }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "store-scripts",
      "name": "Save to Script Library",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Every Day 8AM": {
      "main": [
        [
          {
            "node": "Find Posts to Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Posts to Script": {
      "main": [
        [
          {
            "node": "Gemini – LinkedIn Script",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini – Facebook Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini – LinkedIn Script",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gemini – Facebook Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – LinkedIn Script": {
      "main": [
        [
          {
            "node": "Merge Both Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – Facebook Script": {
      "main": [
        [
          {
            "node": "Merge Both Scripts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Both Scripts": {
      "main": [
        [
          {
            "node": "Parse & Prepare Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Prepare Scripts": {
      "main": [
        [
          {
            "node": "Save to Script Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}