Stage1.json
{
  "name": "Stage 1 - Content Discovery",
  "nodes": [
    {
      "parameters": {},
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "node-2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const subreddits = [\n  'Artificial',\n  'ArtificialInteligence',\n  'OpenAI',\n  'MachineLearning',\n  'singularity'\n];\n\nconst startUrls = [];\nfor (const sub of subreddits) {\n  startUrls.push({ url: `https://www.reddit.com/r/${sub}/top.json?t=day&limit=10` });\n}\n\nreturn [{ json: { startUrls } }];"
      },
      "id": "node-3",
      "name": "Generate Reddit URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/trudax~reddit-scraper-lite/runs?token={{ $env.APIFY_API_TOKEN }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ startUrls: $json.startUrls, maxItems: 50, skipComments: true, maxComments: 0, maxCommunitiesCount: 5, maxPostCount: 10, proxy: { useApifyProxy: true } }) }}",
        "options": {}
      },
      "id": "node-4",
      "name": "Start Reddit Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        672,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "node-wait-reddit",
      "name": "Wait 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        864,
        400
      ],
      "webhookId": "f4f02128-d98c-4da9-b432-3d8a51379b3f"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{ $node[\"Start Reddit Scraper\"].json.data.id }}?token={{ $env.APIFY_API_TOKEN }}",
        "options": {}
      },
      "id": "node-check-status-reddit",
      "name": "Check Scraper Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "value2": "SUCCEEDED"
            }
          ]
        }
      },
      "id": "node-is-finished-reddit",
      "name": "Is Scraper Finished?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1216,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $node[\"Check Scraper Status\"].json.data.defaultDatasetId }}/items?token={{ $env.APIFY_API_TOKEN }}",
        "options": {}
      },
      "id": "node-fetch-results-reddit",
      "name": "Fetch Scraper Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1408,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Only filter by dataType=post — pass everything else through\nconst items = $input.all();\nconst processed = [];\nconst seenIds = new Set();\n\nfor (const item of items) {\n  let data = item.json || {};\n  const records = Array.isArray(data) ? data : [data];\n\n  for (const post of records) {\n    if (!post) continue;\n    if (post.dataType !== 'post') continue;\n\n    const postId = post.id || post.postId || '';\n    if (seenIds.has(postId)) continue;\n    seenIds.add(postId);\n\n    const title = post.title || '';\n    const body = post.body || post.selftext || '';\n    const content = title + (body ? '\\n\\n' + body : '');\n    const upvotes = post.upVotes || post.ups || post.score || 0;\n    const comments = post.numberOfComments || post.num_comments || post.commentsCount || 0;\n    const category = post.category || post.communityName?.replace('r/', '') || 'tech';\n    const isLinkPost = post.url && !post.url.includes('reddit.com') && !post.url.includes('redd.it');\n    const redditThreadUrl = post.permalink\n      ? (post.permalink.startsWith('http') ? post.permalink : 'https://reddit.com' + post.permalink)\n      : (post.url || `https://reddit.com/r/${category}`);\n    const externalUrl = isLinkPost ? post.url : redditThreadUrl;\n\n    processed.push({\n      json: {\n        post_id: postId,\n        platform: 'Reddit',\n        title: title,\n        content: content.substring(0, 1500),\n        body: body.substring(0, 800),\n        url: redditThreadUrl,\n        external_url: externalUrl,\n        is_news_link: isLinkPost || false,\n        domain: post.domain || 'reddit.com',\n        likes: upvotes,\n        comments: comments,\n        views: upvotes + comments,\n        engagement_score: upvotes + (comments * 2),\n        engagement_rate: ((upvotes / Math.max(upvotes + comments, 1)) * 100).toFixed(2),\n        category: category,\n        community_name: post.communityName || 'Reddit',\n        author: post.username || post.author || 'anon',\n        created_at: post.createdAt || post.created_utc || new Date().toISOString(),\n        data_type: post.dataType\n      }\n    });\n  }\n}\n\nconsole.log(`✅ Found ${processed.length} posts (dataType=post only)`);\nreturn processed.length > 0 ? processed : [{ json: { _skip: true, platform: 'Reddit', reason: 'No posts found' } }];"
      },
      "id": "node-5",
      "name": "Parse Reddit Posts (News Only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "jsCode": "// Pass through ALL items — no filtering\nreturn $input.all();"
      },
      "id": "node-6",
      "name": "Remove Empty Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze this Reddit post for viral potential and AI/ML/Tech relevance.\n\nTitle: {{ $json.title }}\nSubreddit: {{ $json.category }}\nUpvotes: {{ $json.likes }}\nComments: {{ $json.comments }}\nDomain: {{ $json.domain }}\nBody: {{ $json.body }}\n\nReturn ONLY a valid JSON object (no markdown, no backticks, no explanation) with these exact fields:\n{\"Viral_Score\": 0-100, \"Hook_Pattern\": \"pattern type\", \"Content_Structure\": \"breaking news or research paper or product launch or opinion or tutorial or controversy\", \"Emotional_Triggers\": \"emotions driving engagement\", \"Viral_Elements\": \"what makes it spread\", \"Script_Framework\": \"framework used\", \"is_ai_ml_tech\": true or false, \"news_relevance\": 0-100}",
        "batching": {
          "batchSize": 1
        }
      },
      "id": "node-7",
      "name": "Gemini Analyze News Post",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-8",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1296,
        560
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "vbhLIH8I52VXHFtc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build Airtable-ready output: original post data + Gemini analysis\n// Get original items from the Remove Empty Items node\nlet originals = [];\ntry { originals = $items('Remove Empty Items'); } catch(e) { originals = []; }\nconst geminiItems = $input.all();\nconst output = [];\n\nfor (let i = 0; i < geminiItems.length; i++) {\n  const gemini = geminiItems[i].json || {};\n  const orig = originals[i]?.json || {};\n\n  // Parse Gemini text response into JSON\n  const rawText = gemini.text || gemini.output || '{}';\n  let ai = {};\n  try {\n    ai = JSON.parse(rawText);\n  } catch (e) {\n    const match = rawText.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { ai = JSON.parse(match[0]); } catch (e2) {}\n    }\n  }\n\n  const s = (v) => (v === undefined || v === null) ? '' : (typeof v === 'object' ? JSON.stringify(v) : String(v));\n  const title = orig.title || '';\n  const body = orig.body || '';\n\n  // Output fields matching Airtable Viral Content DB schema exactly\n  output.push({\n    json: {\n      Name: title.substring(0, 100),\n      Post_ID: orig.post_id || '',\n      Platform: orig.platform || 'Reddit',\n      Post_URL: orig.url || '',\n      Content: title + (body ? '\\n\\n' + body : ''),\n      Engagement_Score: orig.engagement_score || 0,\n      Likes_Reactions_Upvotes: orig.likes || 0,\n      Comments: orig.comments || 0,\n      Shares_Awards: 0,\n      Viral_Score: parseInt(ai.Viral_Score || ai.viral_score) || 0,\n      Hook_Pattern: s(ai.Hook_Pattern || ai.hook_pattern || ''),\n      Content_Structure: s(ai.Content_Structure || ai.content_structure || ''),\n      Emotional_Triggers: s(ai.Emotional_Triggers || ai.emotional_triggers || ''),\n      Viral_Elements: s(ai.Viral_Elements || ai.viral_elements || ''),\n      Script_Framework: s(ai.Script_Framework || ai.script_framework || ''),\n      Status: 'Generate Script',\n      Created_Date: new Date().toISOString().split('T')[0],\n      Script_Library: '',\n      Engagement_Rate: orig.engagement_rate || '0',\n      Followers: 0,\n      Saves: 0,\n      Shares: 0,\n      Impressions: orig.views || 0,\n      Clicks: 0,\n      Views: orig.views || 0,\n      Transcript: '',\n      // Keep these for the filter node\n      is_ai_ml_tech: ai.is_ai_ml_tech !== false,\n      news_relevance: parseInt(ai.news_relevance) || 0\n    }\n  });\n}\n\nconsole.log('Merged ' + output.length + ' posts with Gemini analysis for Airtable');\nreturn output.length > 0 ? output : [{ json: { _skip: true } }];"
      },
      "id": "node-9",
      "name": "Parse Gemini Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Pass through posts that are AI/ML/Tech relevant\nreturn $input.all().filter(item => {\n  const d = item.json;\n  if (d._skip) return false;\n  return d.is_ai_ml_tech === true || d.news_relevance >= 50 || d.Viral_Score >= 30;\n});"
      },
      "id": "node-filter-relevant",
      "name": "Filter Relevant News Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AT_TABLE_VIRAL_DB }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post_ID": "={{ $json.Post_ID }}",
            "Platform": "={{ $json.Platform }}",
            "Post_URL": "={{ $json.Post_URL }}",
            "Content": "={{ $json.Content }}",
            "Engagement_Score": "={{ $json.Engagement_Score }}",
            "Likes_Reactions_Upvotes": "={{ $json.Likes_Reactions_Upvotes }}",
            "Comments": "={{ $json.Comments }}",
            "Shares_Awards": "={{ $json.Shares_Awards }}",
            "Viral_Score": "={{ $json.Viral_Score }}",
            "Hook_Pattern": "={{ $json.Hook_Pattern }}",
            "Content_Structure": "={{ $json.Content_Structure }}",
            "Emotional_Triggers": "={{ $json.Emotional_Triggers }}",
            "Viral_Elements ": "={{ $json.Viral_Elements }}",
            "Script_Framework": "={{ $json.Script_Framework }}",
            "Status": "={{ $json.Status }}",
            "Created_Date": "={{ $json.Created_Date }}",
            "Script Library": "",
            "Engagement_Rate": "={{ $json.Engagement_Rate }}",
            "Followers": "=0",
            "Saves": "=0",
            "Shares": "=0",
            "Impressions": "={{ $json.Impressions }}",
            "Clicks": "=0",
            "Views": "={{ $json.Views }}",
            "Transcript": "",
            "Name_review": "={{ $json.Name }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-10",
      "name": "Store in Viral Content DB",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1920,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Generate Reddit URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Reddit URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reddit URLs": {
      "main": [
        [
          {
            "node": "Start Reddit Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Reddit Scraper": {
      "main": [
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s": {
      "main": [
        [
          {
            "node": "Check Scraper Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scraper Status": {
      "main": [
        [
          {
            "node": "Is Scraper Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Scraper Finished?": {
      "main": [
        [
          {
            "node": "Fetch Scraper Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 30s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scraper Results": {
      "main": [
        [
          {
            "node": "Parse Reddit Posts (News Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit Posts (News Only)": {
      "main": [
        [
          {
            "node": "Remove Empty Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Empty Items": {
      "main": [
        [
          {
            "node": "Gemini Analyze News Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Analyze News Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analyze News Post": {
      "main": [
        [
          {
            "node": "Parse Gemini Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Results": {
      "main": [
        [
          {
            "node": "Filter Relevant News Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant News Only": {
      "main": [
        [
          {
            "node": "Store in Viral Content DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Viral Content DB": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c12f3196-f951-4014-aa6b-3e9517a8210b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1757b09cdae31473f3f31f6dcf3811ad0ffc8ba919e2d551dba14df63ed44210"
  },
  "id": "0ZSLiDZcYmBRLfgI",
  "tags": []
}