Stage3.json
{
  "name": "Stage 3 – Auto Post Facebook & LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "options": {
          "filterByFormula": "{Status} = 'Approved'",
          "maxRecords": 20
        }
      },
      "id": "node-read",
      "name": "Read Approved Scripts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/* PAIR-BASED GROUPING: Strict grouping by Source_Content_ID with Safety Checks */\nconst items = $input.all();\nif (!items || items.length === 0) return [];\n\nconst getVal = (obj, key) => {\n  const k = Object.keys(obj).find(x => x.toLowerCase().replace(/[\\s_]/g, '') === key.toLowerCase().replace(/[\\s_]/g, ''));\n  let val = k ? obj[k] : null;\n  if (Array.isArray(val)) val = val.join(', ');\n  return val || '';\n};\n\nlet targetSourceId = null;\nfor (const i of items) {\n  const sid = getVal(i.json, 'SourceContentID');\n  if (sid) { targetSourceId = sid; break; }\n}\nif (!targetSourceId) targetSourceId = items[0].json.id;\n\nconst pair = items.filter(i => {\n  const sid = getVal(i.json, 'SourceContentID');\n  return sid === targetSourceId || (!sid && i.json.id === targetSourceId);\n});\n\nconst fb = pair.find(i => getVal(i.json, 'TargetPlatforms').toLowerCase().includes('face'));\nconst li = pair.find(i => getVal(i.json, 'TargetPlatforms').toLowerCase().includes('linked'));\n\nconst buildMsg = (item) => {\n  if (!item) return null;\n  const hook = item.json.Hook || '';\n  const body = item.json.Main_Content || '';\n  const cta = getVal(item.json, 'CTA');\n  const full = (hook + '\\n\\n' + body + '\\n\\n' + cta).trim();\n  \n  // SAFETY GATE: If script contains n8n placeholders, BLOCK IT\n  if (full.includes('{{') || full.includes('$json')) {\n    console.error('BLOCKING DIRTY SCRIPT: ' + item.json.id);\n    return null;\n  }\n  return full;\n};\n\nreturn [{\n  json: {\n    source_id: targetSourceId,\n    fb_msg: buildMsg(fb),\n    fb_id: fb ? fb.json.id : null,\n    li_msg: buildMsg(li),\n    li_id: li ? li.json.id : null\n  }\n}];"
      },
      "id": "node-group",
      "name": "Group Topic Pair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $(\"Group Topic Pair\").item.json.fb_msg }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-post-fb",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        750,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "text": "={{ $(\"Group Topic Pair\").item.json.li_msg }}",
        "additionalFields": {}
      },
      "id": "node-post-li",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        750,
        500
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "EjVjU4yvzE7uSE2U",
          "name": "LinkedIn account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "id": "={{ $(\"Group Topic Pair\").item.json.fb_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $(\"Group Topic Pair\").item.json.fb_msg ? 'Posted' : 'Generation Error' }}",
            "Published_Date": "={{ $(\"Group Topic Pair\").item.json.fb_msg ? $now.format('yyyy-MM-dd') : null }}"
          },
          "matchingColumns": []
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-mark-fb",
      "name": "Mark FB Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "id": "={{ $(\"Group Topic Pair\").item.json.li_id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $(\"Group Topic Pair\").item.json.li_msg ? 'Posted' : 'Generation Error' }}",
            "Published_Date": "={{ $(\"Group Topic Pair\").item.json.li_msg ? $now.format('yyyy-MM-dd') : null }}"
          },
          "matchingColumns": []
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-mark-li",
      "name": "Mark LI Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1000,
        500
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Read Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Approved Scripts": {
      "main": [
        [
          {
            "node": "Group Topic Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Topic Pair": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Mark FB Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Mark LI Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}