Stage2.json
{
  "name": "Viral Pipeline – Stage 2 – Script Generation 2026",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "stage2-trigger",
      "name": "Every Day 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "list",
          "cachedResultName": "Viral Content Factory",
          "cachedResultUrl": "https://airtable.com/appvFfyAXIMqyHsRg"
        },
        "table": {
          "__rl": true,
          "value": "tblexeHTYqlzH5JuR",
          "mode": "list",
          "cachedResultName": "Viral Content Database",
          "cachedResultUrl": "https://airtable.com/appvFfyAXIMqyHsRg/tblexeHTYqlzH5JuR"
        },
        "filterByFormula": "{Status} = 'Generate Script'",
        "options": {}
      },
      "id": "read-pending",
      "name": "Find Posts to Script",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        464,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KfoaxgkR8RCgNbNi",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Context and Author Profile:\nUjjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\n\nTask:\nRewrite the following news content as an original thought leadership post for Ujjwal's LinkedIn.\n\nNews Input:\nTitle: {{ $json.Name || 'New Technology Insight' }}\nContent: {{ $json.Content || 'No details provided.' }}\nSubreddit: {{ $json.Subreddit || 'N/A' }}\nUpvotes: {{ $json.Likes || 0 }}\n\nTone and Voice Guidelines:\n- Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n- Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape\n- Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer\n- Confident and opinionated, but grounded with reasoning or real-world parallels\n- Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n- Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n- The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\n\nStructure and Length (STRICT):\n- Maximum two short paragraphs. No exceptions. Each paragraph should be 2 to 4 sentences.\n- Total word count: 50 to 100 words. Treat this as a hard ceiling.\n- The opening sentence must be a strong, creative hook. Not generic, not clickbait. It should be a sharp, original observation or a surprising reframe that makes people stop scrolling. Think of the kind of opener that makes someone say I never thought of it that way.\n- Close with a perspective, prediction, or question that invites engagement\n- Distill the news down to the single most important insight and build the entire post around that one idea. Cut everything else ruthlessly.\n- No bullet points, no numbered lists, no headers\n\nFormatting Rules:\n- Never use em dashes anywhere in the output. Use commas, periods, parentheses, or restructure the sentence instead.\n- No ellipses for dramatic effect\n- No hashtags unless specifically requested\n\nWhat to Avoid:\n- Do not summarize the full news story. Extract only the sharpest takeaway.\n- Do not use buzzwords without substance (e.g., revolutionary, game-changing)\n- Do not write in third person. Write as Ujjwal in first person.\n- Do not pad with filler sentences or repeat the same idea in different words\n- Do not use phrases that are commonly associated with AI-generated content (e.g., Lets dive in, Heres the thing, In todays rapidly evolving landscape, Its not just about X its about Y)\n- Do not open with a question as the hook. Lead with a statement.\n\nReturn ONLY valid JSON, no markdown:\n{\n  \"platform\": \"LinkedIn\",\n  \"title\": \"...\",\n  \"hook\": \"...\",\n  \"body\": \"...\",\n  \"cta\": \"...\"\n}",
        "batching": {}
      },
      "id": "gemini-linkedin",
      "name": "Gemini – LinkedIn Script",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        640,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Context and Author Profile:\nUjjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\n\nTask:\nRewrite the following news content as an original thought leadership post for Ujjwal's Facebook.\n\nNews Input:\nTitle: {{ $json.Name || 'New Technology Insight' }}\nContent: {{ $json.Content || 'No details provided.' }}\nSubreddit: {{ $json.Subreddit || 'N/A' }}\nUpvotes: {{ $json.Likes || 0 }}\n\nTone and Voice Guidelines:\n- Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n- Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape\n- Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer\n- Confident and opinionated, but grounded with reasoning or real-world parallels\n- Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n- Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n- The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\n\nStructure and Length (STRICT):\n- Maximum two short paragraphs. No exceptions. Each paragraph should be 2 to 4 sentences.\n- Total word count: 50 to 100 words. Treat this as a hard ceiling.\n- The opening sentence must be a strong, creative hook. Not generic, not clickbait. It should be a sharp, original observation or a surprising reframe that makes people stop scrolling. Think of the kind of opener that makes someone say I never thought of it that way.\n- Close with a perspective, prediction, or question that invites engagement\n- Distill the news down to the single most important insight and build the entire post around that one idea. Cut everything else ruthlessly.\n- No bullet points, no numbered lists, no headers\n\nFormatting Rules:\n- Never use em dashes anywhere in the output. Use commas, periods, parentheses, or restructure the sentence instead.\n- No ellipses for dramatic effect\n- No hashtags unless specifically requested\n\nWhat to Avoid:\n- Do not summarize the full news story. Extract only the sharpest takeaway.\n- Do not use buzzwords without substance (e.g., revolutionary, game-changing)\n- Do not write in third person. Write as Ujjwal in first person.\n- Do not pad with filler sentences or repeat the same idea in different words\n- Do not use phrases that are commonly associated with AI-generated content (e.g., Lets dive in, Heres the thing, In todays rapidly evolving landscape, Its not just about X its about Y)\n- Do not open with a question as the hook. Lead with a statement.\n\nReturn ONLY valid JSON, no markdown:\n{\n  \"platform\": \"Facebook\",\n  \"title\": \"...\",\n  \"hook\": \"...\",\n  \"body\": \"...\",\n  \"cta\": \"...\"\n}",
        "batching": {}
      },
      "id": "gemini-facebook",
      "name": "Gemini – Facebook Script",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        608,
        624
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-gemini",
      "name": "Merge Both Scripts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        976,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        496
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "gZWxtPDhc4VC9XNF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst rawInputs = $input.all();\nconst sourceItems = $(\"Find Posts to Script\").all();\nconst sourceCount = sourceItems.length;\n\nif (sourceCount === 0) return [{ json: { _skip: true } }];\n\nfor (let i = 0; i < rawInputs.length; i++) {\n  const item = rawInputs[i];\n  let raw = item.json.text || item.json.output || '{}';\n  let parsed = {};\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const match = raw.match(/\\{[^]*\\}/);\n    if (match) {\n      try { parsed = JSON.parse(match[0]); } catch {}\n    }\n  }\n\n  // Calculate which source record this script corresponds to.\n  const sourceIndex = i % sourceCount;\n  const sourceRecord = sourceItems[sourceIndex]?.json || {};\n\n  // RESILIENT MAPPING: Use fallbacks for all critical fields to avoid skipping scripts\n  const title = parsed.title || parsed.Name || sourceRecord.Name || 'Untitled Script';\n  const platform = parsed.platform || parsed.Target_Platforms || (i < sourceCount ? 'LinkedIn' : 'Facebook');\n\n  results.push({\n    json: {\n      Name: title,\n      Source_Content_ID: sourceRecord.id || sourceRecord.Name || '',\n      Script_Title: title,\n      Target_Platforms: platform,\n      Hook: parsed.hook || '',\n      Main_Content: parsed.body || '',\n      CTA: parsed.cta || '',\n      Status: 'Draft',\n      Created_Date: new Date().toISOString().slice(0, 10)\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { _skip: true } }];"
      },
      "id": "parse-scripts",
      "name": "Parse & Prepare Scripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AT_TABLE_SCRIPT_LIB }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Source_Content_ID": "={{ $json.Source_Content_ID }}",
            "Script_Title": "={{ $json.Script_Title }}",
            "Target_Platforms ": "={{ $json.Target_Platforms }}",
            "Hook": "={{ $json.Hook }}",
            "Main_Content": "={{ $json.Main_Content }}",
            "CTA ": "={{ $json.CTA }}",
            "Status": "={{ $json.Status }}",
            "Created_Date": "={{ $json.Created_Date }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "store-scripts",
      "name": "Save to Script Library",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        432
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "KfoaxgkR8RCgNbNi",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every Day 8AM": {
      "main": [
        [
          {
            "node": "Find Posts to Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Posts to Script": {
      "main": [
        [
          {
            "node": "Gemini – LinkedIn Script",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini – Facebook Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini – LinkedIn Script",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gemini – Facebook Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – LinkedIn Script": {
      "main": [
        [
          {
            "node": "Merge Both Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – Facebook Script": {
      "main": [
        [
          {
            "node": "Merge Both Scripts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Both Scripts": {
      "main": [
        [
          {
            "node": "Parse & Prepare Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Prepare Scripts": {
      "main": [
        [
          {
            "node": "Save to Script Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59f8cb346b5d8766759dae082492ff78f5a0d022521aa8125464caad6f9a6bc3"
  },
  "tags": []
}