Stage3.json
{
  "name": "Stage 3 – Auto Post Facebook & LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "filterByFormula": "{Status} = 'Approved'",
        "options": {}
      },
      "id": "node-read",
      "name": "Read Approved Scripts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        304,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "0kSWR6SLkrwa2ABm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/* PAIR-BASED GROUPING: Groups strictly by Source_Content_ID */\nconst items = $input.all();\nif (!items || items.length === 0) return [];\n\nconst getSourceContentId = (obj) => {\n  const rawSid = obj['Source_Content_ID'];\n  if (Array.isArray(rawSid)) return rawSid[0];\n  return rawSid || '';\n};\n\nconst getVal = (obj, key) => {\n  const k = Object.keys(obj).find(x => x.toLowerCase().replace(/[\\s_]/g, '') === key.toLowerCase().replace(/[\\s_]/g, ''));\n  let val = k ? obj[k] : null;\n  if (Array.isArray(val)) val = val[0];\n  return val || '';\n};\n\nlet targetSourceContentId = null;\nfor (const i of items) {\n  const sid = getSourceContentId(i.json);\n  if (sid) { targetSourceContentId = sid; break; }\n}\nif (!targetSourceContentId) return [];\n\nconst pair = items.filter(i => getSourceContentId(i.json) === targetSourceContentId);\n\nconst fb = pair.find(i => getVal(i.json, 'TargetPlatforms').toLowerCase().includes('face'));\nconst li = pair.find(i => getVal(i.json, 'TargetPlatforms').toLowerCase().includes('linked'));\n\nconst buildMsg = (item) => {\n  if (!item) return null;\n  const hook = item.json.Hook || '';\n  const body = item.json.Main_Content || '';\n  const cta = getVal(item.json, 'CTA');\n  const full = (hook + '\\n\\n' + body + '\\n\\n' + cta).trim();\n  if (full.includes('{{') || full.includes('$json')) {\n    console.error('BLOCKING DIRTY SCRIPT: ' + item.json.id);\n    return null;\n  }\n  return full;\n};\n\nconst results = [];\n\nif (fb) {\n  results.push({\n    json: {\n      Source_Content_ID: targetSourceContentId,\n      platform: 'Facebook',\n      record_id: fb.json.id,\n      msg: buildMsg(fb)\n    }\n  });\n}\n\nif (li) {\n  results.push({\n    json: {\n      Source_Content_ID: targetSourceContentId,\n      platform: 'LinkedIn',\n      record_id: li.json.id,\n      msg: buildMsg(li)\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "node-group",
      "name": "Group Topic Pair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        528,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.platform }}",
              "value2": "Facebook"
            }
          ]
        }
      },
      "id": "node-if-fb",
      "name": "Is Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.msg }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-post-fb",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        960,
        288
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "person": "pxxzor9T6y",
        "text": "={{ $json.msg }}",
        "additionalFields": {}
      },
      "id": "node-post-li",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        960,
        528
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "zPP3PUGbrqJ0ReHh",
          "name": "LinkedIn account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Carry FB record_id forward after Facebook post\nconst fbItem = $('Is Facebook?').first();\nconst record_id = fbItem.json.record_id;\nconst Source_Content_ID = fbItem.json.Source_Content_ID;\nreturn [{ json: { record_id, Source_Content_ID } }];"
      },
      "id": "node-carry-fb",
      "name": "Carry FB Record ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1152,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Carry LI record_id forward after LinkedIn post\nconst liItem = $('Group Topic Pair').all().find(i => i.json.platform === 'LinkedIn');\nconst record_id = liItem ? liItem.json.record_id : null;\nconst Source_Content_ID = liItem ? liItem.json.Source_Content_ID : null;\nreturn [{ json: { record_id, Source_Content_ID } }];"
      },
      "id": "node-carry-li",
      "name": "Carry LI Record ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1152,
        528
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Posted",
            "Published_Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Estimated_Duration": 0,
            "Source_Content_ID": "=",
            "id": "={{ $json.record_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source_Content_ID",
              "displayName": "Source_Content_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script_Title",
              "displayName": "Script_Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Main_Content",
              "displayName": "Main_Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CTA ",
              "displayName": "CTA ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visual_Cues",
              "displayName": "Visual_Cues",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tone",
              "displayName": "Tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated_Duration",
              "displayName": "Estimated_Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Target_Platforms ",
              "displayName": "Target_Platforms ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "LinkedIn",
                  "value": "LinkedIn"
                },
                {
                  "name": "Facebook",
                  "value": "Facebook"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending Approval",
                  "value": "Pending Approval"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Posted",
                  "value": "Posted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created_Date",
              "displayName": "Created_Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Production Queue",
              "displayName": "Video Production Queue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video RENDERS",
              "displayName": "Video RENDERS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Published_Date",
              "displayName": "Published_Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-mark-fb",
      "name": "Mark FB Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1360,
        288
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "0kSWR6SLkrwa2ABm",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Posted",
            "Published_Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Estimated_Duration": 0,
            "id": "={{ $json.record_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Source_Content_ID",
              "displayName": "Source_Content_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Script_Title",
              "displayName": "Script_Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hook",
              "displayName": "Hook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Main_Content",
              "displayName": "Main_Content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CTA ",
              "displayName": "CTA ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Visual_Cues",
              "displayName": "Visual_Cues",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tone",
              "displayName": "Tone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hashtags",
              "displayName": "Hashtags",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated_Duration",
              "displayName": "Estimated_Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Target_Platforms ",
              "displayName": "Target_Platforms ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "LinkedIn",
                  "value": "LinkedIn"
                },
                {
                  "name": "Facebook",
                  "value": "Facebook"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending Approval",
                  "value": "Pending Approval"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                },
                {
                  "name": "Draft",
                  "value": "Draft"
                },
                {
                  "name": "Posted",
                  "value": "Posted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created_Date",
              "displayName": "Created_Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Production Queue",
              "displayName": "Video Production Queue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video RENDERS",
              "displayName": "Video RENDERS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Published_Date",
              "displayName": "Published_Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-mark-li",
      "name": "Mark LI Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1360,
        528
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "0kSWR6SLkrwa2ABm",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Read Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Approved Scripts": {
      "main": [
        [
          {
            "node": "Group Topic Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Topic Pair": {
      "main": [
        [
          {
            "node": "Is Facebook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Facebook?": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Carry FB Record ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Carry LI Record ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry FB Record ID": {
      "main": [
        [
          {
            "node": "Mark FB Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carry LI Record ID": {
      "main": [
        [
          {
            "node": "Mark LI Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "673478a8-4ff0-4063-9857-60d73adbb8fd",
  "meta": {
    "instanceId": "59f8cb346b5d8766759dae082492ff78f5a0d022521aa8125464caad6f9a6bc3"
  },
  "id": "A4aPyO5CWy0Kqtcr",
  "tags": []
}