Stage1.json
{
  "name": "Stage 1 - Content Discovery",
  "nodes": [
    {
      "parameters": {},
      "id": "node-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "node-2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const subreddits = [\n  'Artificial',\n  'ArtificialInteligence',\n  'OpenAI',\n  'MachineLearning',\n  'singularity',\n  'ChatGPT',\n  'technology',\n  'Futurology',\n  'LocalLLaMA',\n  'datascience'\n];\n\nreturn subreddits.map(sub => ({ json: { subreddit: sub } }));"
      },
      "id": "node-3",
      "name": "List Subreddits",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const subreddit = $json.subreddit;\n\nlet data;\ntry {\n  const response = await fetch(\n    `https://old.reddit.com/r/${subreddit}/hot.json?limit=25&raw_json=1`,\n    {\n      headers: {\n        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36',\n        'Accept': 'application/json',\n        'Accept-Language': 'en-US,en;q=0.9'\n      }\n    }\n  );\n\n  if (!response.ok) {\n    console.log(`Reddit blocked r/${subreddit}: ${response.status}`);\n    return [{ json: { data: { children: [] } } }];\n  }\n\n  data = await response.json();\n} catch (e) {\n  console.log(`Error fetching r/${subreddit}: ${e.message}`);\n  return [{ json: { data: { children: [] } } }];\n}\n\nreturn [{ json: data }];"
      },
      "id": "node-4",
      "name": "Fetch Reddit Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "jsCode": "// Parse Reddit native JSON \u2014 same output structure as before\nconst items = $input.all();\nconst processed = [];\nconst seenIds = new Set();\n\nfor (const item of items) {\n  const data = item.json;\n  const children = data?.data?.children || [];\n\n  for (const child of children) {\n    if (child.kind !== 't3') continue;\n    const post = child.data;\n    if (!post) continue;\n\n    const postId = post.id || '';\n    if (seenIds.has(postId)) continue;\n    seenIds.add(postId);\n\n    const title = post.title || '';\n    const body = post.selftext || '';\n    const content = title + (body ? '\\n\\n' + body : '');\n    const upvotes = post.score || 0;\n    const comments = post.num_comments || 0;\n    const category = post.subreddit || 'tech';\n    const isLinkPost = !post.is_self && post.url && !post.url.includes('reddit.com') && !post.url.includes('redd.it');\n    const redditThreadUrl = post.permalink\n      ? (post.permalink.startsWith('http') ? post.permalink : 'https://reddit.com' + post.permalink)\n      : `https://reddit.com/r/${category}`;\n    const externalUrl = isLinkPost ? post.url : redditThreadUrl;\n\n    processed.push({\n      json: {\n        post_id: postId,\n        platform: 'Reddit',\n        title: title,\n        content: content.substring(0, 1500),\n        body: body.substring(0, 800),\n        url: redditThreadUrl,\n        external_url: externalUrl,\n        is_news_link: isLinkPost || false,\n        domain: post.domain || 'reddit.com',\n        likes: upvotes,\n        comments: comments,\n        views: upvotes + comments,\n        engagement_score: upvotes + (comments * 2),\n        engagement_rate: ((upvotes / Math.max(upvotes + comments, 1)) * 100).toFixed(2),\n        category: category,\n        community_name: 'r/' + category,\n        author: post.author || 'anon',\n        created_at: post.created_utc ? new Date(post.created_utc * 1000).toISOString() : new Date().toISOString(),\n        data_type: 'post'\n      }\n    });\n  }\n}\n\nconsole.log(`\u2705 Found ${processed.length} posts from Reddit`);\nreturn processed.length > 0 ? processed : [{ json: { _skip: true, platform: 'Reddit', reason: 'No posts found' } }];"
      },
      "id": "node-5",
      "name": "Parse Reddit Posts (News Only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "jsCode": "// Pass through ALL items \u2014 no filtering\nreturn $input.all().filter(item => !item.json._skip);"
      },
      "id": "node-6",
      "name": "Remove Empty Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "id": "node-7",
      "name": "Gemini Analyze News Post",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1480,
        400
      ],
      "onError": "continueRegular"
    },
    {
      "parameters": {
        "modelName": "claude-haiku-4-5-20251001",
        "options": {}
      },
      "id": "node-8",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        1480,
        560
      ],
      "credentials": {
        "anthropicApi": {
          "id": "3ALSz4b1hI4R0T8D",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiItems = $input.all();\nconst sourceItems = $('Build Prompt').all();\nconst output = [];\n\nfor (let i = 0; i < aiItems.length; i++) {\n  const aiItem = aiItems[i].json || {};\n  const source = sourceItems[i]?.json || {};\n\n  // Strip markdown code blocks if present\n  let rawText = aiItem.text || aiItem.output || '{}';\n  rawText = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  let ai = {};\n  try {\n    ai = JSON.parse(rawText);\n  } catch (e) {\n    const match = rawText.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { ai = JSON.parse(match[0]); } catch (e2) {}\n    }\n  }\n\n  const s = (v) => (v === undefined || v === null) ? '' : (typeof v === 'object' ? JSON.stringify(v) : String(v));\n  const title = source.title || '';\n  const body = source.body || '';\n\n  output.push({\n    json: {\n      Name: title.substring(0, 100),\n      Post_ID: source.post_id || '',\n      Platform: source.platform || 'Reddit',\n      Post_URL: source.url || '',\n      Content: source.content || title + (body ? '\\n\\n' + body : ''),\n      Engagement_Score: source.engagement_score || 0,\n      Likes_Reactions_Upvotes: source.likes || 0,\n      Comments: source.comments || 0,\n      Shares_Awards: 0,\n      Viral_Score: parseInt(ai.Viral_Score || ai.viral_score) || 0,\n      Hook_Pattern: s(ai.Hook_Pattern || ai.hook_pattern || ''),\n      Content_Structure: s(ai.Content_Structure || ai.content_structure || ''),\n      Emotional_Triggers: s(ai.Emotional_Triggers || ai.emotional_triggers || ''),\n      Viral_Elements: s(ai.Viral_Elements || ai.viral_elements || ''),\n      Script_Framework: s(ai.Script_Framework || ai.script_framework || ''),\n      Status: 'Generate Script',\n      Created_Date: new Date().toISOString().split('T')[0],\n      Script_Library: '',\n      Engagement_Rate: source.engagement_rate || '0',\n      Followers: 0,\n      Saves: 0,\n      Shares: 0,\n      Impressions: source.views || 0,\n      Clicks: 0,\n      Views: source.views || 0,\n      Transcript: '',\n      is_ai_ml_tech: ai.is_ai_ml_tech !== false,\n      news_relevance: parseInt(ai.news_relevance) || 0,\n      post_type: ai.post_type || 'other'\n    }\n  });\n}\n\nreturn output.length > 0 ? output : [{ json: { _skip: true } }];"
      },
      "id": "node-9",
      "name": "Parse Gemini Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Allow only real factual news \u2014 block discussion, meme, speculation\nreturn $input.all().filter(item => {\n  const d = item.json;\n  if (d._skip) return false;\n  if (!d.is_ai_ml_tech) return false;\n  const blocked = ['discussion', 'meme', 'speculation', 'other'];\n  if (d.post_type && blocked.includes(d.post_type)) return false;\n  return d.news_relevance >= 40 || d.Viral_Score >= 30;\n});"
      },
      "id": "node-filter-relevant",
      "name": "Filter Relevant News Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "={{ $env.AIRTABLE_BASE_ID }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ $env.AT_TABLE_VIRAL_DB }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post_ID": "={{ $json.Post_ID }}",
            "Platform": "={{ $json.Platform }}",
            "Post_URL": "={{ $json.Post_URL }}",
            "Content": "={{ $json.Content }}",
            "Engagement_Score": "={{ $json.Engagement_Score }}",
            "Likes_Reactions_Upvotes": "={{ $json.Likes_Reactions_Upvotes }}",
            "Comments": "={{ $json.Comments }}",
            "Shares_Awards": "={{ $json.Shares_Awards }}",
            "Viral_Score": "={{ $json.Viral_Score }}",
            "Hook_Pattern": "={{ $json.Hook_Pattern }}",
            "Content_Structure": "={{ $json.Content_Structure }}",
            "Emotional_Triggers": "={{ $json.Emotional_Triggers }}",
            "Viral_Elements ": "={{ $json.Viral_Elements }}",
            "Script_Framework": "={{ $json.Script_Framework }}",
            "Status": "={{ $json.Status }}",
            "Created_Date": "={{ $json.Created_Date }}",
            "Script Library": "",
            "Engagement_Rate": "={{ $json.Engagement_Rate }}",
            "Followers": "=0",
            "Saves": "=0",
            "Shares": "=0",
            "Impressions": "={{ $json.Impressions }}",
            "Clicks": "=0",
            "Views": "={{ $json.Views }}",
            "Transcript": "",
            "Name_review": "={{ $json.Name }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-10",
      "name": "Store in Viral Content DB",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2080,
        400
      ],
      "onError": "continueRegular",
      "credentials": {
        "airtableTokenApi": {
          "id": "0kSWR6SLkrwa2ABm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(i => {\n  const item = i.json;\n  const prompt = `Analyze this Reddit post for viral potential and AI/ML/Tech relevance.\n\nTitle: ${item.title}\nSubreddit: ${item.category}\nUpvotes: ${item.likes}\nComments: ${item.comments}\nDomain: ${item.domain}\nBody: ${item.body}\n\nCLASSIFY the post_type as EXACTLY ONE of these values:\n- \"news\" = any real factual AI/tech news: product launch, model release, breakthrough, research finding, benchmark result, company announcement, new feature, innovation, acquisition, funding round, regulation, policy change, tool release, performance result, hardware release \u2014 anything that actually happened and is reported as fact\n- \"discussion\" = community opinion, debate, poll, \"what do you think\", \"am I wrong\", advice request, question to community, personal experience sharing\n- \"meme\" = humor, meme, joke, satire, image post, shitpost, no real informational content\n- \"speculation\" = rumor, unverified prediction, \"could this be\", \"what if\", leak without confirmation\n- \"other\" = anything that does not fit the above\n\nCRITICAL: Return ONLY a raw JSON object. No markdown. No backticks. No code blocks. No explanation. Start your response with { and end with }.\n{\"Viral_Score\": 0-100, \"Hook_Pattern\": \"pattern type\", \"Content_Structure\": \"news or discussion or meme or speculation or other\", \"Emotional_Triggers\": \"emotions driving engagement\", \"Viral_Elements\": \"what makes it spread\", \"Script_Framework\": \"framework used\", \"is_ai_ml_tech\": true or false, \"news_relevance\": 0-100, \"post_type\": \"news or discussion or meme or speculation or other\"}`;\n\n  return { json: { ...item, prompt } };\n});"
      },
      "id": "build-prompt-s1",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches-s1",
      "name": "Batch Airtable Writes S1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1880,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "await new Promise(r => setTimeout(r, 2000));\nreturn $input.all();"
      },
      "id": "wait-s1",
      "name": "Wait 2s S1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Subreddits": {
      "main": [
        [
          {
            "node": "Fetch Reddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reddit Posts": {
      "main": [
        [
          {
            "node": "Parse Reddit Posts (News Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reddit Posts (News Only)": {
      "main": [
        [
          {
            "node": "Remove Empty Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Empty Items": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Analyze News Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analyze News Post": {
      "main": [
        [
          {
            "node": "Parse Gemini Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Results": {
      "main": [
        [
          {
            "node": "Filter Relevant News Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Relevant News Only": {
      "main": [
        [
          {
            "node": "Batch Airtable Writes S1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Gemini Analyze News Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Airtable Writes S1": {
      "main": [
        [],
        [
          {
            "node": "Store in Viral Content DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Viral Content DB": {
      "main": [
        [
          {
            "node": "Wait 2s S1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s S1": {
      "main": [
        [
          {
            "node": "Batch Airtable Writes S1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c12f3196-f951-4014-aa6b-3e9517a8210b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1757b09cdae31473f3f31f6dcf3811ad0ffc8ba919e2d551dba14df63ed44210"
  },
  "id": "0ZSLiDZcYmBRLfgI",
  "tags": []
}