Stage2.json
{
  "id": "K3SDxIJe0XzGDa3C",
  "name": "Viral Pipeline – Stage 2 – Script Generation 2026",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "stage2-trigger",
      "name": "Every Day 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblexeHTYqlzH5JuR",
          "mode": "id"
        },
        "filterByFormula": "{Status} = 'Generate Script'",
        "options": {}
      },
      "id": "read-pending",
      "name": "Find Posts to Script",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        464,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "0kSWR6SLkrwa2ABm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.linkedin_prompt }}",
        "batching": {}
      },
      "id": "gemini-linkedin",
      "name": "Gemini – LinkedIn Script",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        640,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.facebook_prompt }}",
        "batching": {}
      },
      "id": "gemini-facebook",
      "name": "Gemini – Facebook Script",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        608,
        624
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-gemini",
      "name": "Merge Both Scripts",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        976,
        384
      ]
    },
    {
      "parameters": {
        "modelName": "claude-haiku-4-5-20251001",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        704,
        496
      ],
      "credentials": {
        "anthropicApi": {
          "id": "3ALSz4b1hI4R0T8D",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst rawInputs = $input.all();\nconst sourceItems = $('Build Prompts S2').all();\nconst sourceCount = sourceItems.length;\n\nif (sourceCount === 0) return [];\n\nfor (let i = 0; i < rawInputs.length; i++) {\n  const item = rawInputs[i];\n\n  // Strip markdown code blocks\n  let raw = item.json.output || item.json.text || '{}';\n  raw = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n  let parsed = {};\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    const match = raw.match(/\\{[^]*\\}/);\n    if (match) { try { parsed = JSON.parse(match[0]); } catch {} }\n  }\n\n  const sourceIndex = i % sourceCount;\n  const sourceRecord = sourceItems[sourceIndex]?.json || {};\n  const platform = (i < sourceCount) ? 'LinkedIn' : 'Facebook';\n\n  const title = parsed.title || parsed.Name || sourceRecord.Name || 'Untitled Script';\n\n  const hasPlaceholders = raw.includes('{{') || raw.includes('$json');\n  if (hasPlaceholders) continue;\n\n  results.push({\n    json: {\n      Name: title,\n      Source_Content_ID: sourceRecord.fields?.Name || sourceRecord.id || sourceRecord.Name,\n      Script_Title: title,\n      Target_Platforms: platform,\n      Hook: parsed.hook || '',\n      Main_Content: parsed.body || '',\n      CTA: parsed.cta || '',\n      Hashtags: parsed.hashtags || '',\n      Status: sourceRecord.is_ceo_relevant ? 'Approved' : 'Draft',\n      Created_Date: new Date().toISOString().slice(0, 10)\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-scripts",
      "name": "Parse & Prepare Scripts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Source_Content_ID": "={{ $json.Source_Content_ID }}",
            "Script_Title": "={{ $json.Script_Title }}",
            "Target_Platforms ": "={{ $json.Target_Platforms }}",
            "Hook": "={{ $json.Hook }}",
            "Main_Content": "={{ $json.Main_Content }}",
            "CTA ": "={{ $json.CTA }}",
            "Hashtags": "={{ $json.Hashtags }}",
            "Status": "={{ $json.Status }}",
            "Created_Date": "={{ $json.Created_Date }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "store-scripts",
      "name": "Save to Script Library",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1344,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "0kSWR6SLkrwa2ABm",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(i => {\n  const item = i.json;\n  const title = item.Name || item.name || item.title || '';\n  const content = item.Content || item.content || '';\n\n  const linkedin_prompt = `Context and Author Profile: Ujjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\nTask: Rewrite the following news content as an original thought leadership post for Ujjwal's social media channels primarily LinkedIn.\nContent Coverage Rules:\n* This content comes from a real news item, product launch, model release, or tech announcement. Your job is to turn it into a post grounded in the FACTS from that specific source.\n* Always name the specific product, model, company, or technology being discussed. Never write a generic AI post that could apply to any news item.\n* If the source has benchmark scores or performance numbers, use them with exact percentages or figures.\n* If the source has no benchmarks, anchor to other specific facts: the product name and what it does, the company making the announcement, the specific capability or feature released, or the competitive context (beats X, cheaper than Y, faster than Z).\n* If the news involves a model comparison, name all models and take a clear position on what the result means for the industry.\n* If the news is about a product or tool launch, focus on what was released, what problem it solves, and why it matters now.\n* Match the post angle to the actual news: model architecture gets architecture discussion, pricing gets economics discussion, open source gets accessibility discussion. Do not default to generic enterprise AI adoption framing.\n* Even when source content is thin, you must still generate a complete post. Use the product or model name as the anchor and build the insight around what is publicly known about it.\nTone and Voice Guidelines:\n* Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n* Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape.\n* Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer.\n* Confident and opinionated, but grounded with reasoning or real-world parallels.\n* Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n* Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n* The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\nStructure and Length STRICT:\n* Three to four paragraphs total.\n* First paragraph is a single hook sentence. Sharp, original observation or surprising reframe that makes people stop scrolling. Not clickbait. Not a question. A bold statement.\n* Second paragraph names the specific model, benchmark, capability, or comparison from the news. Reference at least one concrete number, finding, or named detail. Engage with what it actually means technically or competitively.\n* Third paragraph addresses the broader implication for the AI industry, enterprise, or technical landscape. End with a contrarian take, prediction, or forward-looking reframe.\n* Fourth paragraph is a single standalone engagement question. Ask something genuinely interesting based on the post topic. Examples include: What are your thoughts on effectively leveraging this. Are we building applications that truly exploit this depth. Do not restate the post, ask something that invites real discussion.\n* Total word count 100 to 200 words. Give it depth but keep it tight.\n* No bullet points. No numbered lists. No headers.\nFormatting Rules:\n* Never use em dash.\n* Do not use slash.\n* Do not use colon.\n* Do not use semicolon.\n* Do not use ellipsis.\n* Do not use quotation marks.\n* Do not use emojis.\n* No decorative symbols of any kind.\n* Only commas and periods allowed as punctuation in the post body.\n* Plain text only with clean paragraph breaks.\nWhat to Avoid:\n* Do not summarize the full news story. Extract only the sharpest takeaway.\n* Do not use buzzwords without substance such as revolutionary or game changing.\n* Do not write in third person. Write as Ujjwal in first person.\n* Do not pad with filler sentences or repeat the same idea in different words.\n* Do not use phrases commonly associated with AI generated content such as Lets dive in, Heres the thing, In todays rapidly evolving landscape.\n* Do not open with a question as the hook. Lead with a strong statement.\n* Do not default to the custom AI software development angle unless the news genuinely demands it. If you find yourself writing about enterprise automation or AI adoption, stop and ask whether the actual news warrants that framing.\n* CRITICAL SOURCE OWNERSHIP RULE: The source content may come from Reddit posts, forums, or community sites where the original author uses first-person creator language such as I built, I created, I launched, I made, or I developed. Ujjwal did NOT build or create the product or tool being discussed in this content. He is an outside observer and commentator sharing his expert perspective on someone elses work. NEVER write any phrase implying Ujjwal built, created, or launched the product. NEVER use phrases like I built, I made, I launched, I created, I developed when referring to the product in the news. Always treat the product as something made by a third party.\n\nNews Input:\nTitle: ${title}\nContent: ${content}\n\nReturn ONLY valid JSON with no emojis anywhere in the output:\n{\n  \"platform\": \"LinkedIn\",\n  \"title\": \"...\",\n  \"hook\": \"...\",\n  \"body\": \"...\",\n  \"cta\": \"...\",\n  \"hashtags\": \"#AI #MachineLearning #Tech (5 to 8 relevant hashtags separated by spaces)\"\n}`;\n\n  const facebook_prompt = `Context and Author Profile: Ujjwal Roy is the CEO of ScaleBuild AI, a custom AI software development company specializing in workflow automation, customer-facing tools, and AI model development. He also serves as CEO of Seethos AI (computer vision for manufacturing), Chair of IEEE Young Professionals, and founding president of the World AI Alliance. His background spans engineering roles at Intel, Micron, and IBM, as well as Wall Street finance. He is 32 years old.\nTask: Write a paraphrased English version of the same thought leadership post for Facebook. Use the exact same specific data points, model names, benchmark scores, and key insight as the LinkedIn version, but rephrase every sentence. Do not copy sentences verbatim. The tone can be slightly more conversational than LinkedIn but the quality and specificity must be identical.\nContent Coverage Rules:\n* This content comes from a real news item, product launch, model release, or tech announcement. Your job is to turn it into a post grounded in the FACTS from that specific source.\n* Always name the specific product, model, company, or technology being discussed. Never write a generic AI post that could apply to any news item.\n* If the source has benchmark scores or performance numbers, use them with exact percentages or figures.\n* If the source has no benchmarks, anchor to other specific facts: the product name and what it does, the company making the announcement, the specific capability or feature released, or the competitive context (beats X, cheaper than Y, faster than Z).\n* If the news involves a model comparison, name all models and take a clear position on what the result means for the industry.\n* If the news is about a product or tool launch, focus on what was released, what problem it solves, and why it matters now.\n* Match the post angle to the actual news: model architecture gets architecture discussion, pricing gets economics discussion, open source gets accessibility discussion. Do not default to generic enterprise AI adoption framing.\n* Even when source content is thin, you must still generate a complete post. Use the product or model name as the anchor and build the insight around what is publicly known about it.\nTone and Voice Guidelines:\n* Direct and to the point. No fluff, no filler, no softening language. Say what you mean.\n* Position Ujjwal as a credible, forward-thinking voice in the AI industry who interprets what news means for the broader landscape.\n* Reflect the perspective of a hands-on AI CEO who builds real products, not a passive observer.\n* Confident and opinionated, but grounded with reasoning or real-world parallels.\n* Conversational and punchy, not corporate or formal. Write like a 32-year-old founder talking to peers.\n* Avoid generic AI hype or surface-level commentary. Go deeper with strategic insight or contrarian angles.\n* The output must read like a real human wrote it. Use natural sentence rhythms, occasional imperfect phrasing, and varied sentence lengths. Avoid patterns that feel templated, overly polished, or AI-generated. No perfectly balanced sentence structures. No formulaic transitions. Write the way a smart, busy founder actually talks online.\nStructure and Length STRICT:\n* Three to four paragraphs total.\n* First paragraph is a single hook sentence. Sharp, original observation or surprising reframe that makes people stop scrolling. Not clickbait. Not a question. A bold statement.\n* Second paragraph names the specific model, benchmark, capability, or comparison from the news. Reference at least one concrete number, finding, or named detail. Engage with what it actually means technically or competitively.\n* Third paragraph addresses the broader implication for the AI industry, enterprise, or technical landscape. End with a contrarian take, prediction, or forward-looking reframe.\n* Fourth paragraph is a single standalone engagement question. Ask something genuinely interesting based on the post topic. Examples include: What are your thoughts on effectively leveraging this. Are we building applications that truly exploit this depth. Do not restate the post, ask something that invites real discussion.\n* Total word count 100 to 200 words. Give it depth but keep it tight.\n* No bullet points. No numbered lists. No headers.\nFormatting Rules:\n* Never use em dash.\n* Do not use slash.\n* Do not use colon.\n* Do not use semicolon.\n* Do not use ellipsis.\n* Do not use quotation marks.\n* Do not use emojis.\n* No decorative symbols of any kind.\n* Only commas and periods allowed as punctuation in the post body.\n* Plain text only with clean paragraph breaks.\nWhat to Avoid:\n* Do not summarize the full news story. Extract only the sharpest takeaway.\n* Do not use buzzwords without substance such as revolutionary or game changing.\n* Do not write in third person. Write as Ujjwal in first person.\n* Do not pad with filler sentences or repeat the same idea in different words.\n* Do not use phrases commonly associated with AI generated content such as Lets dive in, Heres the thing, In todays rapidly evolving landscape.\n* Do not open with a question as the hook. Lead with a strong statement.\n* Do not default to the custom AI software development angle unless the news genuinely demands it. If you find yourself writing about enterprise automation or AI adoption, stop and ask whether the actual news warrants that framing.\n* CRITICAL SOURCE OWNERSHIP RULE: The source content may come from Reddit posts, forums, or community sites where the original author uses first-person creator language such as I built, I created, I launched, I made, or I developed. Ujjwal did NOT build or create the product or tool being discussed in this content. He is an outside observer and commentator sharing his expert perspective on someone elses work. NEVER write any phrase implying Ujjwal built, created, or launched the product. NEVER use phrases like I built, I made, I launched, I created, I developed when referring to the product in the news. Always treat the product as something made by a third party.\n\nNews Input:\nTitle: ${title}\nContent: ${content}\n\nReturn ONLY valid JSON with no emojis anywhere in the output:\n{\n  \"platform\": \"Facebook\",\n  \"title\": \"...\",\n  \"hook\": \"...\",\n  \"body\": \"...\",\n  \"cta\": \"...\",\n  \"hashtags\": \"#AI #MachineLearning #Tech (5 to 8 relevant hashtags separated by spaces)\"\n}`;\n\n  // CEO relevance check — keywords that signal real newsworthy AI/tech content\n  const contentLower = (title + ' ' + content).toLowerCase();\n  const ceoKeywords = [\n    'launch', 'release', 'announced', 'introduces', 'dropped', 'unveiled', 'released',\n    'breakthrough', 'innovation', 'funding', 'billion', 'million', 'acquisition',\n    'gpt', 'claude', 'gemini', 'llama', 'mistral', 'grok', 'model', 'llm',\n    'openai', 'anthropic', 'google', 'meta ai', 'microsoft', 'nvidia', 'apple',\n    'benchmark', 'outperforms', 'beats', 'surpasses', 'record', 'state-of-the-art',\n    'research', 'paper', 'arxiv', 'open source', 'open-source', 'chip', 'gpu',\n    'regulation', 'policy', 'ban', 'invest', 'raise', 'series', 'ipo', 'deal'\n  ];\n  const matchCount = ceoKeywords.filter(kw => contentLower.includes(kw)).length;\n  const is_ceo_relevant = matchCount >= 3;\n\n  return { json: { ...item, linkedin_prompt, facebook_prompt, is_ceo_relevant } };\n});"
      },
      "id": "build-prompt-s2",
      "name": "Build Prompts S2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "split-batches-s2",
      "name": "Batch Airtable Writes S2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "await new Promise(r => setTimeout(r, 2000));\nreturn $input.all();"
      },
      "id": "wait-s2",
      "name": "Wait 2s S2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1544,
        400
      ]
    }
  ],
  "connections": {
    "Every Day 8AM": {
      "main": [
        [
          {
            "node": "Find Posts to Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Posts to Script": {
      "main": [
        [
          {
            "node": "Build Prompts S2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini – LinkedIn Script",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Gemini – Facebook Script",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – LinkedIn Script": {
      "main": [
        [
          {
            "node": "Merge Both Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini – Facebook Script": {
      "main": [
        [
          {
            "node": "Merge Both Scripts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Both Scripts": {
      "main": [
        [
          {
            "node": "Parse & Prepare Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Prepare Scripts": {
      "main": [
        [
          {
            "node": "Batch Airtable Writes S2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompts S2": {
      "main": [
        [
          {
            "node": "Gemini – LinkedIn Script",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini – Facebook Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Airtable Writes S2": {
      "main": [
        [],
        [
          {
            "node": "Save to Script Library",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Script Library": {
      "main": [
        [
          {
            "node": "Wait 2s S2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s S2": {
      "main": [
        [
          {
            "node": "Batch Airtable Writes S2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}