Stage3.json
{
  "name": "Stage 3 – Auto Post Facebook & LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "node-manual",
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        400
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "options": {
          "filterByFormula": "{Status} = 'Approved'",
          "maxRecords": 20
        }
      },
      "id": "node-read",
      "name": "Read Approved Scripts",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/* Group ONLY items for the first Source Content ID found */\nconst items = $input.all();\nif (!items || items.length === 0) return [];\n\nlet targetSourceId = null;\nfor (const i of items) {\n  const sid = Array.isArray(i.json.Source_Content_ID) ? i.json.Source_Content_ID[0] : i.json.Source_Content_ID;\n  if (sid) { targetSourceId = sid; break; }\n}\n\nif (!targetSourceId) targetSourceId = items[0].json.id;\n\nreturn items.filter(i => {\n  const sid = Array.isArray(i.json.Source_Content_ID) ? i.json.Source_Content_ID[0] : i.json.Source_Content_ID;\n  return sid === targetSourceId || (!sid && i.json.id === targetSourceId);\n});"
      },
      "id": "node-filter",
      "name": "Filter First Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "node-split",
      "name": "Loop Through Scripts",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ ($json['Target_Platforms '] || $json.Target_Platforms || '').toLowerCase() }}",
              "operation": "contains",
              "value2": "facebook"
            }
          ]
        }
      },
      "id": "node-if",
      "name": "Is Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.FACEBOOK_PAGE_ID }}/feed",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.Hook + '\\n\\n' + $json.Main_Content + '\\n\\n' + ($json.CTA || $json['CTA '] || '') }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.FACEBOOK_PAGE_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-post-fb",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1180,
        300
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.Hook + '\\n\\n' + $json.Main_Content + '\\n\\n' + ($json.CTA || $json['CTA '] || '') }}",
        "additionalFields": {}
      },
      "id": "node-post-li",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1180,
        500
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "EjVjU4yvzE7uSE2U",
          "name": "LinkedIn account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appvFfyAXIMqyHsRg",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblQafDU68ylW9f7p",
          "mode": "id"
        },
        "id": "={{ $(\"Loop Through Scripts\").item.json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Posted",
            "Published_Date": "={{ $now.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": []
        },
        "options": {
          "typecast": true
        }
      },
      "id": "node-mark",
      "name": "Mark Posted",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1450,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "rWrYEtYQAEpY7zli",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Read Approved Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Approved Scripts": {
      "main": [
        [
          {
            "node": "Filter First Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter First Source": {
      "main": [
        [
          {
            "node": "Loop Through Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Scripts": {
      "main": [
        [
          {
            "node": "Is Facebook?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Facebook?": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Mark Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Mark Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Posted": {
      "main": [
        [
          {
            "node": "Loop Through Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}